
// Create a new sass partial called _variables.scss and put all the variables like widths there. Partial with variables should be imported at the beginning. 
$font-stack:    Helvetica Neue;
$primary-color: #999;
$secondary-color: #fff;